<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mis perris</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>

<body>
<center>
    <a href="{% url 'home' %}">Volver A Inicio</a>
</center>
	<div id="login">
    
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                    {% csrf_token %}
                        <h3 class="text-center text-success">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-success">Usuario:</label><br>
                            <input placeholder="Usuario" type="text" name="username" id="username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-success">Contraseña:</label><br>
                            <input placeholder="*******" type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <br>
                            <input type="submit" name="submit" class="btn btn-success btn-md" value="Ingresar">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="{% url 'registro' %}" class="text-success">Registrar</a>
							<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-success btn-md">Login con Facebook</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<marquee direction="right">
	<img src="https://i.gifer.com/Vg5.gif" width="110px" height="100px">
</body>
</html>